.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}
.list {
  padding-left: 20px;;
  text-align: left;
  border-bottom: 1px solid gray;
}

/* 내가 작성한 부분  */
.nav-bc {
 display: flex;
 background-color: rgb(238, 172, 183);
 width: 100%;
 color: white;
 padding-left: 20px;
 justify-content: center;
 position: relative;
}
.nav-bc h5{
  color: rgb(249, 231, 204);
  top: 31px;
  right: 20px;
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
